@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
}

.timeline-scroll {
  overflow-x: auto;
  scrollbar-width: none;
}

.timeline-scroll::-webkit-scrollbar {
  display: none;
}